<!-- snippets/hp-banner.liquid -->
{% if settings.hp_banner_enabled %}
  <section class="row--fullwidth banner">
    <div class="banner__bg" style="background-image: url({{ 'img_homepage_banner.jpg' | asset_url }});">
      <div class="banner__row">
        <div class="banner__content column small-12">
          {% if settings.hp_banner_title != blank %}
            <h1 class="banner__heading">{{ settings.hp_banner_title }}</h1>
          {% endif %}

          {% if settings.hp_banner_text != blank %}
            <p class="banner__text">{{ settings.hp_banner_text }}</p>
          {% endif %}

          {% if settings.hp_banner_button_url != blank %}
            <a class="button" href="{{ settings.hp_banner_button_url }}">{{ settings.hp_banner_button_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}